﻿
@{
    ViewData["Title"] = "Smart Health";
    //Layout = "~/Views/Shared/_IFrameLayout.cshtml";
}

<h1>Index</h1>

@*<div class="wrap">
    <iframe src="http://nigerianinstitutions.com/" frameborder="0" style="width: 100%; height: 100%; margin: 0; padding: 0;"></iframe>
</div>*@
