﻿@model IPagedList<ApplicationUser>

@{
    ViewData["Title"] = "Users";
}


<h1>Users</h1>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Register">Register New User</a>
</p>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-12 col-sm-8 pt-2">
                Users
            </div>
            <div class="col-12 col-sm-4">
                <form asp-action="Index">
                    <div class="md-form input-with-post-icon m-0">
                        <i class="fas fa-search input-prefix"></i>
                        <input type="text" id="Search" name="Search" value="@ViewBag.Search" class="form-control form-sm m-0">
                        <label for="Search">Search</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover table-striped">
            <thead class="blue-grey lighten-2">
                <tr>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="text-right">
                            <a class="btn btn-primary btn-sm" href="#">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    </div>
</div>
