﻿html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 99.5vw;
    height: 100vh;
    min-height: 0;
}

.frame {
    flex: 1 1 auto;
    border: 0 !important;
}
