﻿
#content-wrap {
    padding-left: 0;
}

.navbar-expand-lg .navbar-nav.dock-nav {
    flex-direction: column;
}

.navbar-nav li a .shortmenu {
    display: none
}

.navbar-nav li .nav-subitem {
    background: #ddd;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}

.navbar-nav li:target .nav-subitem {
    max-height: 10em;
}

@media(min-width:576px) {
    #content-wrap {
        padding-left: 50px;
    }

    .navbar-nav.dock-nav:hover {
        left: 0;
    }

    .dock-nav li a {
        padding: 10px
    }

    .navbar-nav li a .shortmenu {
        float: right;
        display: block;
        opacity: 1;
        margin-right: 8px;
    }

    .navbar-nav.dock-nav:hover li a .shortmenu {
        opacity: 0
    }

    .navbar-nav.dock-nav {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16), 0 10px 10px 0 rgba(0, 0, 0, .12);
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16), 0 10px 10px 0 rgba(0, 0, 0, .12);
        position: fixed;
        top: 48px;
        flex-direction: column !important;
        left: -150px;
        width: 200px;
        overflow-y: auto;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px
    }
}

@media (min-width: 768px) {
    .navbar-nav.dock-nav {
        top: 56px;
    }
}

.animate {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
