﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3rem; /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem; /* Footer height */
}

.side-nav.wide.slim {
    width: 3.75rem !important;
}

/*            CUSTOM CSS           */


.navbar-logo {
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 0px;
    height: 100px;
}

.navbar-logo-sm {
    height: 60px;
}

.card-up-small {
    height: 72px;
}

.font-smaller {
    font-size: 0.7rem;
}

div#map {
    width: 100%;
    height: 628px;
}

input.map-search {
    width: 240px;
    margin-top: 12px;
}

.heavy-font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.app-nc-color {
    background-color: #24355C;
}

.fill-expand {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

    .fill-expand img {
        object-fit: cover;
        min-width: 100%;
        min-height: 100%
    }

/*       MDB OVERRIDES       */

th .select-wrapper > input,
th .select-wrapper > span {
    color: #fff !important;
}

.navbar {
    align-items: flex-start;
}

.navbar-toggler {
    font-size: inherit;
}

@media (max-width: 992px) {
    .navbar .container {
        width: 95%;
    }
}

.btn-sm {
    line-height: 1.0
}

.table th,
.table td {
    vertical-align: inherit;
}

table.table-sm th,
table.table-sm td {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

/*     SCROLLABLE TABLE     */

/* Set a fixed scrollable wrapper */
.table-wrapper {
    height: 550px;
    /*    border: 2px solid black;*/
    overflow: auto;
}
    /* If we use border,
    we must use table-collapse to avoid
    a slight movement of the header row */
    .table-wrapper table {
        border-collapse: collapse;
        margin-bottom: 0px;
    }

    /* Set header to stick to the top of the container. */
    .table-wrapper thead tr th {
        position: sticky;
        top: 0;
    }

    .table-wrapper tfoot tr td {
        position: sticky;
        bottom: 0;
        background-color: #CFD8DC;
        /*background-color: rgba(96,125,139,0.3);*/
    }

    /* Because we must set sticky on th,
     we have to apply background styles here
     rather than on thead */
    .table-wrapper th {
        background-color: #24355C;
        /* With border-collapse, we must use box-shadow or psuedo elements
          for the header borders */
        /*box-shadow: 0px 0px 0 2px #e8e8e8;*/
    }


.img-thumbnail {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #d5eeed;
}


.avatar {
    width: 48px;
    height: 48px;
    position: relative;
    margin: .5rem;
}

    .avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

        .avatar img.circle {
            border-radius: 100% !important;
        }

        .avatar img.half-circle {
            border-radius: 30% !important;
        }

        .avatar img.rounded {
            border-radius: 10% !important;
        }

    .avatar.xs {
        width: 24px;
        height: 24px;
    }

    .avatar.sm {
        width: 36px;
        height: 36px;
    }

    .avatar.md {
        width: 48px;
        height: 48px;
    }

    .avatar.lg {
        width: 64px;
        height: 64px;
    }

    .avatar.xl {
        width: 72px;
        height: 72px;
    }

    .avatar.xxl {
        width: 90px;
        height: 90px;
    }

    .avatar.xxxl {
        width: 120px;
        height: 120px;
    }
