﻿<script src="~/lib/signalr/dist/browser/signalr.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var connection = new signalR.HubConnectionBuilder().withUrl("/captureSessionHub").build();

        connection.on("NotifyNewCapture", function (model) {
            $('#__PHT').attr('src', model.photograph);
            $('#Photo').val(model.photograph);
            $('#__RTI').attr('src', model.rightThumb);
            $('#RightThumbImage').val(model.rightThumb);
            $('#__RII').attr('src', model.rightIndex);
            $('#RightIndexImage').val(model.rightIndex);
            $('#__LTI').attr('src', model.leftThumb);
            $('#LeftThumbImage').val(model.leftThumb);
            $('#__LII').attr('src', model.leftIndex);
            $('#LeftIndexImage').val(model.leftIndex);

            $('#LeftIndexMinutia').val(model.LeftIndexMinutia);
            $('#LeftThumbMinutia').val(model.LeftThumbMinutia);
            $('#RightIndexMinutia').val(model.RightIndexMinutia);
            $('#RightThumbMinutia').val(model.RightThumbMinutia);


            document.getElementById('new-notify-tone').play();
        });

        connection.on("NotifyNewCaptureDocs", function (model) {
            $('#pdfDocs').attr('src', model.documents).removeAttr('srcdoc');
            $('#Documents').val(model.documents);

            document.getElementById('new-notify-tone').play();
        })

        connection.start().then(function () {
            console.log("Hub Connected!");
        }).catch(function (err) {
            console.log("Could not Connect!");
            return console.error(err.toString());
        });
    });

    /**
    * param {string} filename The name of the file WITHOUT ending (extension)
    */
    function playSound(filename) {
        document.getElementById("sound").innerHTML = '<audio autoplay="autoplay"><source src="' + filename + '.mp3" type="audio/mpeg" /><source src="' + filename + '.ogg" type="audio/ogg" /><embed hidden="true" autostart="true" loop="false" src="' + filename + '.mp3" /></audio>';
    }
</script>

