﻿<audio id="new-notify-tone" preload="auto">
    <source src="@Url.Content("~/media/to-the-point.mp3")" />
    <source src="@Url.Content("~/media/to-the-point.ogg")" />
    <source src="@Url.Content("~/media/to-the-point.m4r")" />
</audio>

