﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BEN-CARES</title>
    <link href="~/lib/mdb/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/mdb/css/mdb.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="/formhelper/formhelper.min.css" rel="stylesheet" />
    <link href="~/css/sidenav.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="@Globals.Areas.WBS" asp-controller="Home" asp-action="Index">BEN-CARES</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_SideNavGuest" />

                    <ul class="navbar-nav ml-auto d-md-flex">
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="@Globals.Areas.WBS" asp-controller="Home" asp-action="Index">Home</a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="page-container" class="container pt-5">
        <main id="content-wrap" role="main" class="pt-4">
            @RenderBody()
        </main>
        <footer id="footer" class="border-top text-muted text-center">
            <div class="container">
                <!--Copyright-->
                <div class="footer-copyright py-3">
                    Copyright © 2020:
                    <a href="#" target="_blank"> EDS-Micronet Technologies </a>
                </div>
                <!--/.Copyright-->
            </div>
        </footer>
    </div>



    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script src="~/lib/mdb/js/jquery.min.js"></script>
    @*<script src="~/lib/popper/umd/popper.min.js"></script>*@
    <script src="~/lib/mdb/js/popper.min.js"></script>
    <script src="~/lib/mdb/js/bootstrap.min.js"></script>
    <script src="~/lib/mdb/js/mdb.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="/formhelper/formhelper.bundle.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();

        $(document).ready(function () {
            $('.datepicker').datepicker();
            $('.mdb-select').materialSelect();
            // SideNav Button Initialization
            $(".button-collapse").sideNav({ slim: true });
            // SideNav Scrollbar Initialization
            var sideNavScrollbar = document.querySelector('.custom-scrollbar');
            var ps = new PerfectScrollbar(sideNavScrollbar);
        });
    </script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script>
        $('#form-modal .modal-body').on('dynamic-load', '.mdb-select', function () {
            initializeSelect(this);
        });
        $('#view-all').on('dynamic-load', '.mdb-select', function () {
            initializeSelect(this);
        });

    </script>
</body>
</html>
