﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NG-CARES, CRS</title>
    <link href="~/lib/mdb/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/mdb/css/mdb.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <!-- Brand -->
        <a class="navbar-brand" asp-area="@Globals.Areas.WBS" asp-controller="Home" asp-action="Index">
            <img class="navbar-logo d-none d-lg-inline" src="~/img/crs-logo-bg.png" alt="crs logo">
            <img class="navbar-logo navbar-logo-sm d-inline d-lg-none" src="~/img/crs-logo-bg.png" alt="crs logo">

            @*<strong>CRS-ng-CARES</strong>*@
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ml-lg-5 pl-lg-3 mt-4 mt-lg-0" id="navbarSupportedContent">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsGuest())
                {
                    <!-- Left -->
                    <ul class="navbar-nav mr-auto ml-lg-5 pl-lg-3">
                        <li class="nav-item">
                            <strong class="nav-item">NG-CARES, CRS</strong>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Home">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Dashboard">Dashboard</a>
                        </li>
                    </ul>

                }
                else
                {
                    <ul class="navbar-nav mr-auto ml-lg-5 pl-lg-3">
                        <li class="nav-item">
                            <strong class="nav-link">NG-CARES, CRS</strong>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Home">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Admin">Admin</a>
                        </li>
                    </ul>
                }
            }

            <!-- Links -->
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_SignUpPartial" />
            </div>
        </div>
    </nav>
    <!-- Navbar -->
    <!--Carousel Wrapper-->
    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">
                <div class="view" style="background-image: url('@Url.Content("~/img/aerial-city.jpg")'); background-repeat: no-repeat; background-size: cover;">

                    <!-- Mask & flexbox options-->
                    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                        <!-- Content -->
                        <div class="text-center white-text mx-5 wow fadeIn">
                            <h1 class="mb-4">
                                <strong>Explore our Enterprise Solutions</strong>
                            </h1>

                            <p>
                                <strong>Designed with fluid web and mobile user experience</strong>
                            </p>

                            <p class="mb-4 d-none d-md-block">
                                <strong>
                                    We provide but not limited to enterprise solutions in the financial and medical sphere.
                                    Explore our applications to better understand what we do.
                                </strong>
                            </p>
                        </div>
                        <!-- Content -->

                    </div>
                    <!-- Mask & flexbox options-->

                </div>
            </div>
            <!--/First slide-->
            <!--Second slide-->
            <div class="carousel-item">
                <div class="view" style="background-image: url('@Url.Content("~/img/study-office-dark.jpg")'); background-repeat: no-repeat; background-size: cover;">

                    <!-- Mask & flexbox options-->
                    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                        <!-- Content -->
                        <div class="text-center white-text mx-5 wow fadeIn">
                            <h1 class="mb-4">
                                <strong>Explore our Enterprise Solutions</strong>
                            </h1>

                            <p>
                                <strong>Designed with fluid web and mobile user experience</strong>
                            </p>

                            <p class="mb-4 d-none d-md-block">
                                <strong>
                                    We provide but not limited to enterprise solutions in the financial and medical sphere.
                                    Explore our applications to better understand what we do.
                                </strong>
                            </p>
                        </div>
                        <!-- Content -->

                    </div>
                    <!-- Mask & flexbox options-->

                </div>
            </div>
            <!--/Second slide-->
            <!--Third slide-->
            <div class="carousel-item">
                <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/79.jpg'); background-repeat: no-repeat; background-size: cover;">

                    <!-- Mask & flexbox options-->
                    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                        <!-- Content -->
                        <div class="text-center white-text mx-5 wow fadeIn">
                            <h1 class="mb-4">
                                <strong>Explore our Enterprise Solutions</strong>
                            </h1>

                            <p>
                                <strong>Designed with fluid web and mobile user experience</strong>
                            </p>

                            <p class="mb-4 d-none d-md-block">
                                <strong>
                                    We provide but not limited to enterprise solutions in the financial and medical sphere.
                                    Explore our applications to better understand what we do.
                                </strong>
                            </p>
                        </div>
                        <!-- Content -->

                    </div>
                    <!-- Mask & flexbox options-->

                </div>
            </div>
            <!--/Third slide-->

        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->

    </div>
    <!--/.Carousel Wrapper-->
    <!--Main layout-->
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <!--Main layout-->
    <!--Footer-->
    <footer class="page-footer text-center font-small mt-0 wow fadeIn">

        <div class="footer-copyright pt-3">
            <a href="#" target="_blank">Powered by <i class="fas fa-heart red-text"></i> INVOTEC Consortium</a>
        </div>
        <!--Copyright-->
        <div class="footer-copyright font-smaller pb-3">
            Copyright © 2020:
            <a href="#" target="_blank"> EDS-Micronet Technologies </a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script src="~/lib/mdb/js/jquery.min.js"></script>
    <script src="~/lib/popper/umd/popper.min.js"></script>
    <script src="~/lib/mdb/js/bootstrap.min.js"></script>
    <script src="~/lib/mdb/js/mdb.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();

    </script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script>
        $('#form-modal .modal-body').on('dynamic-load', '.mdb-select', function () {
            initializeSelect(this);
        });
        $('#view-all').on('dynamic-load', '.mdb-select', function () {
            initializeSelect(this);
        });

    </script>
</body>
</html>
