﻿<ul class="navbar-nav animate dock-nav bg-white pt-sm-3">
    <li class="nav-item">
        <a class="nav-link waves-effect" href="@Url.Action("Index", "Dashboard")" title="Overview"><i class="fas fa-bookmark"></i> Overview <i class="fas fa-bookmark shortmenu animate"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link waves-effect" href="@Url.Action("Profile", "Dashboard")" title="Profile"><i class="fas fa-user"></i> Profile <i class="fas fa-user shortmenu animate"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link waves-effect" href="@Url.Action("Business", "Dashboard")" title="Business"><i class="fas fa-briefcase"></i> Business <i class="fas fa-briefcase shortmenu animate"></i></a>
    </li>
    <li class="nav-item border-bottom border-light">
        <a class="nav-link waves-effect" href="@Url.Action("Contact", "Dashboard")" title="Contact"><i class="fas fa-address-book"></i> Contact <i class="fas fa-address-book shortmenu animate"></i></a>
    </li>
    <li class="nav-item border-bottom border-light">
        <a class="nav-link waves-effect" href="@Url.Action("Grant", "Dashboard")" title="Grant"><i class="fas fa-coins"></i> Grant <i class="fas fa-coins shortmenu animate"></i></a>
    </li>
</ul>

