﻿<ul class="navbar-nav animate dock-nav bg-white pt-sm-3">
    <li class="nav-item">
        <a class="nav-link waves-effect" href="@Url.Action("Applications", "Admin")" title="Applications"><i class="fas fa-list-ul"></i> Applications <i class="fas fa-list-ul shortmenu animate"></i></a>
    </li>
     <li class="nav-item">
        <a class="nav-link waves-effect" href="@Url.Action("filterapplication", "Admin")" title="Filter Application"><i class="fas fa-filter"></i> Filter Applications <i class="fas fa-filter shortmenu animate"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link waves-effect" href="@Url.Action("Index", "MessageTemplates")" title="Messaging"><i class="fas fa-envelope"></i> Messaging <i class="fas fa-envelope shortmenu animate"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link waves-effect" href="@Url.Action("Index", "Security")" title="Users"><i class="fas fa-user-lock"></i> Users <i class="fas fa-user-lock shortmenu animate"></i></a>
    </li>
    <li class="nav-item" id="reports-menu">
        <a class="nav-link waves-effect" href="#reports-menu" title="Reports"><i class="fas fa-book"></i> Reports <i class="fas fa-book shortmenu animate"></i></a>
        <div class="nav-subitem">
            <div>
                <a class="nav-link waves-effect" href="@Url.Action("ApplicationsByLGA", "Reports")" title="Applications by LGA"><i class="fas fa-book-open"></i> Apps. by LGA <i class="fas fa-book-open shortmenu animate"></i></a>
            </div>
        </div>
    </li>
</ul>

