﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.FullNames()!</a>
    </li>
    <li class="nav-item">
        <form id="logOutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            @*<button type="submit" class="nav-link btn btn-link">Logout</button>*@
            <a class="nav-link" onclick="document.getElementById('logOutForm').submit();">Logout</a>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="@Globals.Areas.WBS" asp-controller="Security" asp-action="SignUp">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login"
           asp-route-returnUrl="@Url.Action("Index", new { area = Globals.Areas.WBS })">Login</a>
    </li>
}
</ul>
