﻿@model EditMessageTemplate

@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex align-items-center justify-content-center">
    <div class="card mb-3 mx-auto">
        <div class="card-header font-weight-bold blue-grey lighten-2">Edit Message Template</div>
        <div class="card-body text-primary">
            <form asp-formhelper="true" asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Category" />

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" readonly="readonly" />
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label asp-for="Type" class="control-label"></label>
                        <input asp-for="Type" class="form-control" readonly="readonly" />
                    </div>
                    <div class="col form-group">
                        <label asp-for="Subject" class="control-label"></label>
                        <input asp-for="Subject" class="form-control" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea class="form-control" asp-for="Content" rows="3"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Save Template</button>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <a asp-action="Index">Back to Message Templates</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
