﻿@model IEnumerable<WBSProject.Models.EF.MessageTemplate>

@{
    ViewData["Title"] = "Message Templates";
}

<h1>Message Templates</h1>

<table class="table table-hover table-striped">
    <thead class="blue-grey lighten-2">
        <tr>
            <th class="font-weight-bold">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="font-weight-bold">
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th class="font-weight-bold">
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
