@model QuestionierViewModel

<input asp-for="Step" class="d-none" hidden />



<div id="anychangeinmonthlyincome">
    <div class="form-row">
        <div class="col-12 md-form form-sm my-1">
            <input type="number" class="form-control" asp-for="MonthlyIncome" />
            <label asp-for="MonthlyIncome">Average Monthly income</label>
            <span asp-validation-for="MonthlyIncome" class="font-smaller text-danger d-block"></span>
        </div>
    </div>

    <div class="form-row mt-4">
        <div class="col-12 md-form form-sm my-1">
            <div class="text-muted">Any change in average monthly income?</div>
            <div class="form-check-inline">
                <input type="checkbox" class="form-check-input" asp-for="ChangeInMonthlyIncome">
                <label class="form-check-label" asp-for="ChangeInMonthlyIncome">Yes</label>
            </div>
        </div>
    </div>

    @{
        if (Model.ChangeInMonthlyIncome)
        {
            <div class="form-row mt-5" id="reasonforthischangeinmonthlyincomeanddateitoccured">

                <div class="col md-form form-sm my-1">
                    <input type="text" class="form-control" asp-for="ReasonForChangeInMonthlyIncome" />
                    <label asp-for="ReasonForChangeInMonthlyIncome">Reason for change</label>
                    <span asp-validation-for="ReasonForChangeInMonthlyIncome" class="font-smaller text-danger d-block"></span>
                </div>

                <div class="col md-form form-sm my-1">
                    <input asp-for="DateofChangeInMonthlyIncome" class="form-control mb-2" type="date">
                    <label asp-for="DateofChangeInMonthlyIncome">Date Change Occured</label>
                    <span asp-validation-for="DateofChangeInMonthlyIncome" class="font-smaller text-danger d-block"></span>
                </div>
            </div>
        }
    }
</div>


<div id="anychangeinproductionvolume" class="mb-5">

    <div class="form-row mt-5">
        <div class="col-12 md-form form-sm my-1">
            <div class="text-muted">Any change in Production volume?</div>
            <div class="form-check-inline">
                <input type="checkbox" class="form-check-input" asp-for="ChangeInProductionVolume">
                <label class="form-check-label" asp-for="ChangeInProductionVolume">Yes</label>
            </div>
        </div>
    </div>

    @{
        if (Model.ChangeInProductionVolume)
        {
            <div class="form-row mt-5" id="reasonforthischangeinmonthlyincomeanddateitoccured">

                <div class="col md-form form-sm my-1">
                    <input type="text" class="form-control" asp-for="ReasonForChangeInProductionVolume" />
                    <label asp-for="ReasonForChangeInProductionVolume">Reason for change</label>
                    <span asp-validation-for="ReasonForChangeInProductionVolume" class="font-smaller text-danger d-block"></span>
                </div>

                <div class="col md-form form-sm my-1">
                    <input asp-for="DateOfChangeInProductionVolume" class="form-control mb-2" type="date">
                    <label asp-for="DateOfChangeInProductionVolume">Date Change Occured</label>
                    <span asp-validation-for="DateOfChangeInProductionVolume" class="font-smaller text-danger d-block"></span>
                </div>
            </div>
        }
    }
</div>

