@model QuestionierViewModel

<input asp-for="Step" class="d-none" hidden />
<datalist id="listofbanks">
    @{
        foreach (var item in SelectListHelper.NigerianBanks())
        {
            if (item.Value != "Others ( Specify )")
            {
                <option value="@item.Value">@item.Text</option>
            }

        }
    }
</datalist>

<div class="form-row">
    <div class="col-12 md-form form-sm my-1">
        <select class="form-control" asp-for="StateOfOrigin"></select>
        <span asp-validation-for="StateOfOrigin" class="font-smaller text-danger d-block"></span>
    </div>
</div>

<div class="form-row mt-4">
    <div class="col-12 md-form form-sm my-1">
        <select class="form-control" asp-for="LGAOfOrigin"></select>
        <span asp-validation-for="LGAOfOrigin" class="font-smaller text-danger d-block"></span>
    </div>
</div>

<div class="form-row mt-4">
    <div class="col-12 md-form form-sm my-1">
        <input type="number" class="form-control" asp-for="NIN" />
        <label asp-for="NIN">National Identification Number (NIN)</label>
        <span asp-validation-for="NIN" class="font-smaller text-danger d-block"></span>
    </div>
</div>

<div class="form-row mt-4">
    <div class="col-12 md-form form-sm my-1">
        <input type="number" class="form-control" asp-for="BVN" />
        <label asp-for="BVN">Bank Verification Number (BVN)</label>
        <span asp-validation-for="BVN" class="font-smaller text-danger d-block"></span>
    </div>
</div>


<div class="form-row mt-4 mb-5">
    <div class="col md-form form-sm my-1">
        <label asp-for="BankName">Bank Name</label>
        <div id="bankNamesList">
            <select class="mdb-select" asp-items='SelectListHelper.NigerianBanks().Prepend(new SelectListItem { Text = "Select Bank", Value = "", Selected = true, Disabled = true })' asp-for="BankName"></select>
        </div>
        <span asp-validation-for="BankName" class="font-smaller text-danger d-block"></span>
    </div>
    <div class="col md-form form-sm my-1">
        <input type="text" class="form-control" asp-for="AccountName" />
        <label asp-for="AccountName">Account Name</label>
        <span asp-validation-for="AccountName" class="font-smaller text-danger d-block"></span>
    </div>
    <div class="col md-form form-sm my-1">
        <input type="text" class="form-control" asp-for="AccountNumber" />
        <label asp-for="AccountNumber">Account Number</label>
        <span asp-validation-for="AccountNumber" class="font-smaller text-danger d-block"></span>
    </div>
</div>
