@model QuestionierViewModel

<input asp-for="Step" class="d-none" hidden />

<datalist id="reasonformorestaff">
    @{foreach (var item in SelectListHelper.ReasonsForMoreStaff())
        {
            <option value="@item.Value">@item.Text</option>
}}
</datalist>

<div id="isstaffchanged">
    <div class="form-row">
        <div class="col-12 md-form form-sm my-1">
            <input type="number" class="form-control" asp-for="NumberOfStaff" />
            <label asp-for="NumberOfStaff">How many staff does the business have?</label>
            <span asp-validation-for="NumberOfStaff" class="font-smaller text-danger d-block"></span>
        </div>
    </div>

    <div class="form-row mt-4">
        <div class="col-12 md-form form-sm my-1">
            <div class="text-muted">Any changes in number of staff?</div>
            <div class="form-check-inline">
                <input type="checkbox" class="form-check-input" asp-for="ChangeInNumberOfStaff">
                <label class="form-check-label" asp-for="ChangeInNumberOfStaff">Yes</label>
            </div>
        </div>
    </div>

    @{
        if (Model.ChangeInNumberOfStaff)
        {
            <div class="form-row mt-5" id="dateofchangeinstaff">
                <div class="col-12 md-form form-sm my-1">
                    <input asp-for="DateOfChangeInNumberOfStaff" class="form-control mb-2" type="date">
                    <label asp-for="DateOfChangeInNumberOfStaff">Date Change Occured</label>
                    <span asp-validation-for="DateOfChangeInNumberOfStaff" class="font-smaller text-danger d-block"></span>
                </div>
            </div>
        }
    }
</div>


<div id="arestaffsadequate" class="">

    <div class="form-row mt-5">
        <div class="col-12 md-form form-sm my-1">
            <div class="text-muted">Are your current number of staff adequate?</div>
            <div class="form-check-inline">
                <input type="checkbox" class="form-check-input" asp-for="IsStaffAdequate">
                <label class="form-check-label" asp-for="IsStaffAdequate">Yes</label>
            </div>
        </div>
    </div>

    @{
        if (!Model.IsStaffAdequate)
        {
            <div class="form-row mt-5" id="whydoyouneedmorestaff">
                <div class="col-12 md-form form-sm my-1">
                    <input type="text" class="form-control" asp-for="WhyMoreStaff" list="reasonformorestaff" />
                    <label asp-for="WhyMoreStaff">why do you require more staff?</label>
                    <span asp-validation-for="WhyMoreStaff" class="font-smaller text-danger d-block"></span>
                </div>
            </div>
        }
    }
</div>

<div id="anychangeinstaffsalary" class="mb-5">

    <div class="form-row mt-5">
        <div class="col-12 md-form form-sm my-1">
            <input type="number" class="form-control" asp-for="StaffSalary" />
            <label asp-for="StaffSalary">Staff average salary/wages</label>
            <span asp-validation-for="StaffSalary" class="font-smaller text-danger d-block"></span>
        </div>
    </div>

    <div class="form-row mt-4">
        <div class="col-12 md-form form-sm my-1">
            <div class="text-muted">Any change in staff salary?</div>
            <div class="form-check-inline">
                <input type="checkbox" class="form-check-input" asp-for="ChangeInStaffSalary">
                <label class="form-check-label" asp-for="ChangeInStaffSalary">Yes</label>
            </div>
        </div>
    </div>

    @{
        if (Model.ChangeInStaffSalary)
        {
            <div id="reasonforthischangeinsalaryanddateitoccured" class="form-row mt-5">
                <div class="col-12 md-form form-sm my-1">
                    <input type="text" class="form-control" asp-for="ReasonForChangeInStaffSalary" />
                    <label asp-for="StaffSalary">State reason for change</label>
                    <span asp-validation-for="ReasonForChangeInStaffSalary" class="font-smaller text-danger d-block"></span>
                </div>

                <div class="col-12 md-form form-sm my-1">
                    <div class="text-muted">Date Change Occured</div>
                    <div class="form-check-inline">
                        <input type="date" class="form-check-input" asp-for="DateOfChangeInStaffSalary">
                        <label class="form-check-label" asp-for="DateOfChangeInStaffSalary">Yes</label>
                    </div>
                </div>

            </div>
        }
    }

</div>


