@model QuestionierViewModel

<input asp-for="Step" class="d-none" hidden />

<datalist id="registrationcompanies">
    @{
        foreach (var item in SelectListHelper.RegistrationCompanies())
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
</datalist>

<datalist id="effectsofcovid">
    @{
        foreach (var item in SelectListHelper.EffectsOfCOVID19())
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
</datalist>

<div class="form-row mt-4 mt-4">
    <div class="col-12 md-form form-sm my-1">
        <div class="text-muted">DO YOU HAVE AN AUTOMATED INVOICING SYSTEM?</div>
        <div class="form-check-inline">
            <input type="checkbox" class="form-check-input" asp-for="HasAutomatedInvoicingSystem">
            <label class="form-check-label" asp-for="HasAutomatedInvoicingSystem">Yes</label>
        </div>
    </div>
</div>

<div id="doyouhaveawebsite">
    <div class="form-row mt-5">
        <div class="col-12 md-form form-sm my-1">
            <div class="text-muted">DO YOU HAVE A WEBSITE?</div>
            <div class="form-check-inline">
                <input type="checkbox" class="form-check-input" asp-for="HasWebsite">
                <label class="form-check-label" asp-for="HasWebsite">Yes</label>
            </div>
        </div>
    </div>

    @{
        if (Model.HasWebsite)
        {
            <div id="inputwebsiteurl">
                <div class="form-row mt-4 mt-5">
                    <div class="col-12 md-form form-sm my-1">
                        <input asp-for="WebsiteURL" class="form-control mb-2" type="text" placeholder="URL" />
                        <label asp-for="WebsiteURL">PROVIDE WEBSITE ADDRESS</label>
                        <span asp-validation-for="WebsiteURL" class="font-smaller text-danger d-block"></span>
                    </div>
                </div>

            </div>
        }
    }
</div>

<div class="form-row mt-5">
    <div class="col md-form form-sm my-1">
        <input type="text" class="form-control" asp-for="FacebookURL" placeholder="Link" />
        <label asp-for="FacebookURL">FACEBOOK</label>
        <span asp-validation-for="FacebookURL" class="font-smaller text-danger d-block"></span>
    </div>
    <div class="col md-form form-sm my-1">
        <input type="text" class="form-control" asp-for="LinkedInURL" placeholder="Link" />
        <label asp-for="LinkedInURL">LINKEDIN</label>
        <span asp-validation-for="LinkedInURL" class="font-smaller text-danger d-block"></span>
    </div>
    <div class="col md-form form-sm my-1">
        <input type="text" class="form-control" asp-for="TwitterURL" placeholder="Link" />
        <label asp-for="TwitterURL">TWITTER</label>
        <span asp-validation-for="TwitterURL" class="font-smaller text-danger d-block"></span>
    </div>
</div>


<div class="form-row mt-4">
    <div class="col md-form form-sm my-1">
        <input type="text" class="form-control" asp-for="RegistrationCompany" />
        <label asp-for="RegistrationCompany">
            COMPANY REGISTRATION NAME
        </label>
        <span asp-validation-for="RegistrationCompany" class="font-smaller text-danger d-block"></span>
    </div>
    <div class="col md-form form-sm my-1">
        <input type="text" class="form-control" asp-for="RCNumber" />
        <label asp-for="RCNumber">COMPANY REGISTRATION NUMBER</label>
        <span asp-validation-for="RCNumber" class="font-smaller text-danger d-block"></span>
    </div>
</div>

<div class="form-row mt-4 mb-5">
    <div class="col-12 md-form form-sm my-1">
        <input type="text" class="form-control" asp-for="COVID19EffectOnBusiness" />
        <label asp-for="COVID19EffectOnBusiness">
            HOW WAS YOUR BUSINESS AFFECTED BY COVID?
        </label>
        <span asp-validation-for="COVID19EffectOnBusiness" class="font-smaller text-danger d-block"></span>
    </div>
  
</div>

