@model QuestionierViewModel

<input asp-for="Step" class="d-none" hidden />
<datalist id="alternatepower">
    @{
        foreach (var item in SelectListHelper.AlternatePowerSupply())
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
</datalist>

<div class="form-row mt-4 mt-4">
    <div class="col-12 md-form form-sm my-1">
        <input type="number" class="form-control" asp-for="AverageCostOfPHEDBills" />
        <label asp-for="AverageCostOfPHEDBills">COST OF AVERAGE MONTHLY PHED BILLS</label>
        <span asp-validation-for="AverageCostOfPHEDBills" class="font-smaller text-danger d-block"></span>
    </div>
</div>

<div class="form-row mt-4 mt-4">
    <div class="col-12 md-form form-sm my-1">
        <input asp-for="AverageCostOfWaterBills" class="form-control mb-2" type="text" />
        <label asp-for="AverageCostOfWaterBills">COST OF AVERAGE MONTHLY WATER BILLS</label>
        <span asp-validation-for="AverageCostOfWaterBills" class="font-smaller text-danger d-block"></span>
    </div>
</div>

<div id="rentenquires">
    <div class="form-row mt-4 mt-4">
        <div class="col-12 md-form form-sm my-1">
            <div class="text-muted">DO YOU PAY RENT FOR YOUR BUSINESS SHOP?</div>
            <div class="form-check-inline">
                <input type="checkbox" class="form-check-input" asp-for="IsPayRent">
                <label class="form-check-label" asp-for="IsPayRent">Yes</label>
            </div>
        </div>
    </div>

    @{
        if (Model.IsPayRent)
        {
        <div id="specifyrentbymonth">
            <div class="form-row mt-4 mt-5">
                <div class="col-12 md-form form-sm my-1">
                    <input asp-for="CostOfMonthlyRent" class="form-control mb-2" type="number" />
                    <label asp-for="CostOfMonthlyRent">COST OF MONTHLY RENT</label>
                    <span asp-validation-for="CostOfMonthlyRent" class="font-smaller text-danger d-block"></span>
                </div>
            </div>

        </div>
        }
    }

</div>

<div class="form-row mt-4 mt-5">
    <div class="col-12 md-form form-sm my-1">
        <label asp-for="RequirePowerOrLight" class="text-truncate">DO YOU REQUIRE POWER (LIGHT) TO RUN YOUR BUSINESS?</label>
        <select class="mdb-select" asp-items='SelectListHelper.RequireElectricity().Prepend(new SelectListItem { Text = "Select", Value = "", Selected = true, Disabled = true })' asp-for="RequirePowerOrLight"></select>
        <span asp-validation-for="RequirePowerOrLight" class="font-smaller text-danger d-block"></span>
    </div>
</div>

<div class="form-row mt-4 mt-4">
    <div class="col-12 md-form form-sm my-1">
        <input asp-for="AlternatePower" class="form-control mb-2" type="text" list="alternatepower" />
        <label asp-for="AlternatePower">
            WHAT KIND OF ALTERNATIVE POWER ARE YOU USING FOR YOUR BUSINESS?
        </label>
        <span asp-validation-for="AlternatePower" class="font-smaller text-danger d-block"></span>
    </div>
</div>

<div class="form-row mt-4 mb-5 mt-5">
    <div class="col-12 md-form form-sm my-1">
        <input type="date" class="form-control" asp-for="DateAlternatePowerWasinitialized" />
        <label asp-for="DateAlternatePowerWasinitialized">WHEN DID YOU START USING IT?</label>
        <span asp-validation-for="DateAlternatePowerWasinitialized" class="font-smaller text-danger d-block"></span>
    </div>
</div>



