@model QuestionierViewModel

<input asp-for="Step" class="d-none" hidden />
<datalist id="icttools">
    @{
        foreach (var item in SelectListHelper.ICTTools())
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
</datalist>

<datalist id="advertstype">
    @{
        foreach (var item in SelectListHelper.AdvertsTypes())
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
</datalist>
<datalist id="paymentmethods">
    @{
        foreach (var item in SelectListHelper.PaymentTypes())
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
</datalist>

<div class="form-row mt-4 mt-4">
    <div class="col-12 md-form form-sm my-1">
        <input type="text" class="form-control" asp-for="ICTToolInUse" list="icttools" />
        <label asp-for="ICTToolInUse">Type of ICT application/tools currently in use</label>
        <span asp-validation-for="ICTToolInUse" class="font-smaller text-danger d-block"></span>
    </div>
</div>

<div class="form-row mt-4 mt-4">
    <div class="col-12 md-form form-sm my-1">
        <input asp-for="ICTToolNeeded" class="form-control mb-2" type="text" list="icttools" />
        <label asp-for="ICTToolNeeded">What type of ICT tools do you think will enhance your business?</label>
        <span asp-validation-for="ICTToolNeeded" class="font-smaller text-danger d-block"></span>
    </div>
</div>

<div class="form-row mt-4 mt-4">
    <div class="col-12 md-form form-sm my-1">
        <input type="text" class="form-control" asp-for="CurrentMeansOfAdvertisement" list="advertstype" />
        <label asp-for="CurrentMeansOfAdvertisement">Current means of advertising product/services</label>
        <span asp-validation-for="CurrentMeansOfAdvertisement" class="font-smaller text-danger d-block"></span>
    </div>
</div>

<div class="form-row mt-4 mt-4">
    <div class="col-12 md-form form-sm my-1">
        <div class="text-muted">Current means of advertising product/services adequate?</div>
        <div class="form-check-inline">
            <input type="checkbox" class="form-check-input" asp-for="IsCurrentMeansOfAdvertisementAdequate">
            <label class="form-check-label" asp-for="IsCurrentMeansOfAdvertisementAdequate">Yes</label>
        </div>
    </div>
</div>

<div class="form-row mt-4 mb-5 mt-5">
    <div class="col-12 md-form form-sm my-1">
        <input type="text" class="form-control" asp-for="MethodOfReceivingPayment" list="paymentmethods" />
        <label asp-for="MethodOfReceivingPayment">Methods of receiving payment for goods/services</label>
        <span asp-validation-for="MethodOfReceivingPayment" class="font-smaller text-danger d-block"></span>
    </div>
</div>



