﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewData["Title"] - Workspace</title>
    <link href="~/css/iframe.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>
