﻿@model WBSProject.Models.EF.ApplicantInfo

@{
}


<div class="row d-flex justify-content-center">
    <div class="col-md-8">
        <div class="p-3">
            <img alt="photo" src="~/img/businessman-male-sil.png" />
        </div>

        <h4>Personal Information</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Surname)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Surname)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.OtherName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.OtherName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.BirthDate)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Address)
            </dd>
        </dl>

        <h4>Business Information</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.BusinessName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.BusinessName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.NatureOfBusiness)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.NatureOfBusiness)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.AgeOfBusiness)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AgeOfBusiness)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.BusinessStatus)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.BusinessStatus)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.NumberOfEmployees)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.NumberOfEmployees)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.StateId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.State.Name)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LGAId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LGA.Name)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.WardId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Ward.Name)
            </dd>
        </dl>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
</div>
