﻿
@{
    ViewData["Title"] = "CRS-ng-CARES";
    Layout = "~/Areas/WBS/Views/Shared/_LandingLayout.cshtml";
}

<h2 class="my-5">Do you know the Disbursement Linked Indicator (DLI) you want to apply for?</h2>

<div class="row">
    <div class="col-md-6">
        <!-- Card -->
        <div class="card mb-3">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="~/img/black-craftsman.jpg" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Button -->
            <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3" asp-action="Index" asp-controller="Dashboard">
                <i class="fas fa-chevron-right pl-1"></i>
            </a>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">Operational Support Grants (DLI-3.2)</h4>
                <hr>
                <!-- Text -->
                <p class="card-text">
                    Extending conditional grants to MSEs cover up to 50% portion of its monthly operational cost.
                </p>

            </div>

            <!-- Card footer -->
            <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                @*<ul class="list-unstyled list-inline font-small">
                    <li class="list-inline-item pr-2 white-text"><i class="far fa-clock pr-1"></i>05/10/2015</li>
                    <li class="list-inline-item pr-2">
                        <a href="#" class="white-text">
                            <i class="far fa-comments pr-1"></i>12
                        </a>
                    </li>
                    <li class="list-inline-item pr-2">
                        <a href="#" class="white-text">
                            <i class="fab fa-facebook-f pr-1">
                            </i>21
                        </a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="white-text"><i class="fab fa-twitter pr-1"> </i>5</a></li>
                </ul>*@
            </div>

        </div>
        <!-- Card -->
    </div>
    <div class="col-md-6">
        <!-- Card -->
        <div class="card mb-3">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="~/img/ict-youths.jpg" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Button -->
            <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3" asp-action="Dashboard" asp-controller="Dashboard">
                <i class="fas fa-chevron-right pl-1"></i>
            </a>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">IT Enhancement Grants (DLI-3.3)</h4>
                <hr>
                <!-- Text -->
                <p class="card-text">
                    Supporting adoption of digital payments, integration and IT connectivity costs of MSEs.
                </p>

            </div>

            <!-- Card footer -->
            <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                @*<ul class="list-unstyled list-inline font-small">
                    <li class="list-inline-item pr-2 white-text"><i class="far fa-clock pr-1"></i>05/10/2015</li>
                    <li class="list-inline-item pr-2">
                        <a href="#" class="white-text">
                            <i class="far fa-comments pr-1"></i>12
                        </a>
                    </li>
                    <li class="list-inline-item pr-2">
                        <a href="#" class="white-text">
                            <i class="fab fa-facebook-f pr-1">
                            </i>21
                        </a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="white-text"><i class="fab fa-twitter pr-1"> </i>5</a></li>
                </ul>*@
            </div>

        </div>
        <!-- Card -->
    </div>
</div>
