﻿@model WBSProject.Models.EF.ApplicantInfo

@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center">Register</h1>

<form asp-action="Register">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <h4>Personal Information</h4>
            <hr />
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="OtherName" class="control-label"></label>
                    <input asp-for="OtherName" class="form-control" />
                    <span asp-validation-for="OtherName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Gender" class="control-label"></label>
                    <select asp-for="Gender" class="form-control" asp-items="ViewBag.Genders">
                        <option value="">Choose Gender</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <h4>Business Information</h4>
            <hr />
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="BusinessName" class="control-label"></label>
                    <input asp-for="BusinessName" class="form-control" />
                    <span asp-validation-for="BusinessName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="NatureOfBusiness" class="control-label"></label>
                    <input asp-for="NatureOfBusiness" class="form-control" />
                    <span asp-validation-for="NatureOfBusiness" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="AgeOfBusiness" class="control-label"></label>
                    <select asp-for="AgeOfBusiness" class="form-control" asp-items="ViewBag.BusinessAges">
                        <option value="">Choose Business Age</option>
                    </select>
                    <span asp-validation-for="AgeOfBusiness" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="BusinessStatus" class="control-label"></label>
                    <select asp-for="BusinessStatus" class="form-control" asp-items="ViewBag.BusinessStatuses">
                        <option value="">Choose Business Status</option>
                    </select>
                    <span asp-validation-for="BusinessStatus" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="NumberOfEmployees" class="control-label"></label>
                    <select asp-for="NumberOfEmployees" class="form-control" asp-items="ViewBag.EmployeeNumbers">
                        <option value="">Choose No. of Employees</option>
                    </select>
                    <span asp-validation-for="NumberOfEmployees" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="StateId" class="control-label"></label>
                    <select asp-for="StateId" class="form-control" asp-items="ViewBag.States">
                        <option value="">Choose State</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LGAId" class="control-label"></label>
                    <select asp-for="LGAId" class="form-control" asp-items="ViewBag.LGAId"></select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="WardId" class="control-label"></label>
                    <select asp-for="WardId" class="form-control" asp-items="ViewBag.WardId"></select>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div class="d-flex justify-content-center">
    <a asp-action="Dashboard">Back to Dashboard</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">

        $('#StateId').change(function () {
            $(function () {
                $.ajax({
                    url: '@Url.Action("GetLGAs", "Home")',
                    type: 'POST',
                    dataType: 'json',
                    data: { 'state': $("#StateId").val() },
                    success: function (data) {
                        var options = $('#LGAId');
                        options.empty();
                        $.each(data, function (i, item) {
                            options.append($('<option />').val(item.id).text(item.name));
                        });
                    },
                    error: function (response) {
                    }
                });

            });
        });

        $('#LGAId').change(function () {
            $(function () {
                $.ajax({
                    url: '@Url.Action("GetWards", "Home")',
                    type: 'POST',
                    dataType: 'json',
                    data: { 'lga': $("#LGAId").val() },
                    success: function (data) {
                        var options = $('#WardId');
                        options.empty();
                        $.each(data, function (i, item) {
                            options.append($('<option />').val(item.id).text(item.name));
                        });
                    },
                    error: function (response) {
                    }
                });

            });
        });
</script>
}
