@model QuestionierViewModel

@{
    ViewData["Title"] = $"Step {Model.Step} - Questionier";
    ViewData["Title"] = $"Step {Model.Step} - Questionier";
    var currentSetupStep = Convert.ToInt32(ViewData["CurrentSetupStep"]);
    var steptheme = currentSetupStep <= 1 ? "danger" : currentSetupStep <= 4 ? "warning" : currentSetupStep == 5 ? "primary" : currentSetupStep == 6 ? "success" : "dark";
    int prev = Model.Step - 1;
    int next = Model.Step + 1;
}


<div class="d-flex align-items-center justify-content-center">
    <div class="card mb-3 mx-auto">
        <div class="card-header font-weight-bold lighten-2">@( Html.Raw($"<span> Questionier <span class='text-{steptheme}'>Step {Model.Step}</span> Out Of <span class='text-success'>6 Steps</span></span>"))</div>
        <div class="card-body text-primary">

            <form asp-formhelper="true" asp-action="form" method="post">
                <input type="hidden" asp-for="ApplicantId" />
                
                 @( await Html.PartialAsync($"FormSteps/_Step{Model.Step}", Model) )

                <div class="d-flex justify-content-center">

                    @{
                        @if (Model.Step != 1)
                        {
                            <a asp-action="form" asp-route-applicantId="@Model.ApplicantId" asp-route-step="@prev" asp-controller="questions" asp-area="@Globals.Areas.WBS" class="btn btn-lg btn-outline-danger"> <i class="fa fa-chevron-left mr-2"></i> Previous</a>
                        }

                        if (Model.Step == currentSetupStep)
                        {
                            <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-cloud-upload-alt mr-3"></i>Submit</button>

                        }
                        else if (currentSetupStep > Model.Step)
                        {
                            <Input asp-for="IsUpdate" type="checkbox" checked="checked" hidden class="d-none" />
                            <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-cloud-upload-alt mr-2"></i>Update</button>
                        }

                        if (Model.Step != 6)
                        {
                            <a asp-action="form" asp-route-applicantId="@Model.ApplicantId" asp-route-step="@next" asp-controller="questions" asp-area="@Globals.Areas.WBS" class="btn btn-lg btn-outline-primary">Next <i class="fa fa-chevron-right ml-2"></i></a>
                        }
                    }
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/lga.min.js"></script>
    <script>
      $(function () {
          ProgressiveSteps(@Model.Step);

          $("#@nameof(Model.StateOfOrigin)").val("@Model.StateOfOrigin").change();

          $("#@nameof(Model.LGAOfOrigin)").val("@Model.LGAOfOrigin").change();

      });
    </script>
}