﻿@model RegisterApplicantContact
@inject ApplicationDbContext _context 
@{ 
    Layout = "_GuestLayout";
} 

<div class="d-flex align-items-center justify-content-center">
    <div class="card mb-3 mx-auto">
        <div class="card-header font-weight-bold blue-grey lighten-2">Edit Contact</div>
        <div class="card-body text-primary">
            @*<h5 class="card-title">Primary Panel title</h5>
                <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>*@

            <form asp-formhelper="true" asp-action="Contact" method="post">
                <input type="hidden" asp-for="Id" />

                <div class="md-form form-sm py-0">
                    <textarea class="md-textarea form-control" rows="4" asp-for="BusinessAddress"></textarea>
                    <label asp-for="BusinessAddress">Business Address</label>
                    <span asp-validation-for="BusinessAddress" class="font-smaller text-danger d-block"></span>
                </div>
                <div class="form-row">
                    <div class="col md-form form-sm my-1">
                        <select class="mdb-select" asp-for="StateId" asp-items="await SelectListHelper.States(_context, Model.StateId)">
                            <option value="" disabled="disabled">Select State</option>
                        </select>
                        <label asp-for="StateId">Business State</label>
                        <span asp-validation-for="StateId" class="font-smaller text-danger d-block"></span>
                    </div>
                    <div class="col md-form form-sm my-1">
                        <select class="mdb-select" asp-for="LGAId" asp-items="await SelectListHelper.LGAs(_context, Model.StateId, Model.LGAId)">
                            <option value="" disabled="disabled">Select LGA</option>
                        </select>
                        <label asp-for="LGAId">Business LGA</label>
                        <span asp-validation-for="LGAId" class="font-smaller text-danger d-block"></span>
                    </div>
                    <div class="col md-form form-sm my-1">
                        <select class="mdb-select" asp-for="WardId" asp-items="await SelectListHelper.Wards(_context, Model.LGAId, Model.WardId)">
                            <option value="" disabled="disabled">Select Ward</option>
                        </select>
                        <label asp-for="WardId">Business Ward</label>
                        <span asp-validation-for="WardId" class="font-smaller text-danger d-block"></span>
                    </div>
                </div>

                <button class="btn btn-primary btn-block">Save Contact</button>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('#@(nameof(Model.StateId))').change(function () {
            var selected = $(this).val();
            $.ajax({
                url: '@Url.Action("GetLGAs")',
                data: { state: selected },
                type: 'post',
                cache: false
            }).done(function (data) {
                var lgaDD = $('#@(nameof(Model.LGAId))');
                lgaDD.empty().append($('<option>', { value: "", disabled: 'disabled' }).text('Select LGA'));

                $.each(data, function (index, model) {
                    lgaDD.append($('<option>', { value: model.id }).text(model.name));
                });
                lgaDD.val('').materialSelect();
            }).fail(function (error) {
                alert('Failed to get LGAs.')
            });
        });

        $('#@(nameof(Model.LGAId))').change(function () {
            var selected = $(this).val();
            $.ajax({
                url: '@Url.Action("GetWards")',
                data: { lga: selected },
                type: 'post',
                cache: false
            }).done(function (data) {
                var wardDD = $('#@(nameof(Model.WardId))');
                wardDD.empty().append($('<option>', { value: "", disabled: 'disabled' }).text('Select Ward'));

                $.each(data, function (index, model) {
                    wardDD.append($('<option>', { value: model.id }).text(model.name));
                });
                wardDD.val('').materialSelect();
            }).fail(function (error) {
                alert('Failed to get Wards.')
            });
        });
    </script>
}