﻿@model RegisterApplicantGrant
@inject ApplicationDbContext _context
@{
    Layout = "_GuestLayout";
}

<div class="d-flex align-items-center justify-content-center">
    <div class="card mb-3 mx-auto">
        <div class="card-header font-weight-bold blue-grey lighten-2">Edit Grant Information</div>
        <div class="card-body text-primary">
            <form asp-formhelper="true" asp-action="Grant" method="post">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ApplicantId" />
                <input type="hidden" asp-for="BusinessName" />
                <input type="hidden" asp-for="FullNames" />

                <div class="form-row">
                    <div class="col-12 md-form form-sm my-1">
                        <select class="mdb-select" asp-for="DLIId" asp-items="await SelectListHelper.DLIs(_context, Model.DLIId)">
                            <option value="" disabled="disabled">Select DLI</option>
                        </select>
                        <label asp-for="DLIId">DLI</label>
                        <span asp-validation-for="DLIId" class="font-smaller text-danger d-block"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col md-form form-sm my-1">
                        <input type="text" class="form-control" asp-for="NetWorthOfGoods" />
                        <label asp-for="NetWorthOfGoods">Networth of Goods</label>
                        <span asp-validation-for="NetWorthOfGoods" class="font-smaller text-danger d-block"></span>
                    </div>
                    <div class="col md-form form-sm my-1">
                        <input type="text" class="form-control" asp-for="CashInBank" />
                        <label asp-for="CashInBank">Cash in Bank</label>
                        <span asp-validation-for="CashInBank" class="font-smaller text-danger d-block"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col md-form form-sm my-1">
                        <select class="mdb-select" asp-for="OwnersGender" asp-items="SelectListHelper.Genders()">
                            <option value="" disabled="disabled">Select Gender</option>
                        </select>
                        <label asp-for="OwnersGender">Owners Gender</label>
                        <span asp-validation-for="OwnersGender" class="font-smaller text-danger d-block"></span>
                    </div>
                    <div class="col md-form form-sm my-1">
                        <select class="mdb-select" asp-for="DistanceFromCustomers" asp-items="SelectListHelper.CoverageAreas()">
                            <option value="" disabled="disabled">Select Distance</option>
                        </select>
                        <label asp-for="DistanceFromCustomers">Distance from Customers</label>
                        <span asp-validation-for="DistanceFromCustomers" class="font-smaller text-danger d-block"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 md-form form-sm my-1 mb-4">
                        <p class="mb-0">
                            Choose the basic amenities within the coverage area that your business have access to.
                        </p>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input" asp-for="HaveWater">
                            <label class="form-check-label" asp-for="HaveWater">Have Water</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input" asp-for="HaveElectricity">
                            <label class="form-check-label" asp-for="HaveElectricity">Have Electricity</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input" asp-for="HaveRoad">
                            <label class="form-check-label" asp-for="HaveRoad">Have Road</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input" asp-for="HaveMedicalCare">
                            <label class="form-check-label" asp-for="HaveMedicalCare">Have Medical Care</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input" asp-for="HaveNetwork">
                            <label class="form-check-label" asp-for="HaveNetwork">Have Network</label>
                        </div>
                        <hr />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col md-form form-sm my-1">
                        <select class="mdb-select" asp-for="DescribeRecordKeeping" asp-items="SelectListHelper.RecordKeepings()">
                            <option value="" disabled="disabled">Describe Record Keeping</option>
                        </select>
                        <label asp-for="DescribeRecordKeeping">Describe Record Keeping</label>
                        <span asp-validation-for="DescribeRecordKeeping" class="font-smaller text-danger d-block"></span>
                    </div>
                    <div class="col md-form form-sm my-1">
                        <input type="text" class="form-control" asp-for="DescribeComputerSkills" />
                        <label asp-for="DescribeComputerSkills">Describe Computer Skills</label>
                        <span asp-validation-for="DescribeComputerSkills" class="font-smaller text-danger d-block"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 md-form form-sm my-1 mb-4">
                        <p class="mb-0">
                            Choose the options below that is available to your business.
                        </p>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input" asp-for="OwnSmartPhone">
                            <label class="form-check-label" asp-for="OwnSmartPhone">Own Smartphone</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input" asp-for="HaveFacebook">
                            <label class="form-check-label" asp-for="HaveFacebook">Have Facebook</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input" asp-for="HaveTwitter">
                            <label class="form-check-label" asp-for="HaveTwitter">Have Twitter</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input" asp-for="HaveWhatsApp">
                            <label class="form-check-label" asp-for="HaveWhatsApp">Have WhatsApp</label>
                        </div>
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input" asp-for="HaveInternet">
                            <label class="form-check-label" asp-for="HaveInternet">Have Internet</label>
                        </div>
                        <hr />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col md-form form-sm my-1">
                        <select class="mdb-select" asp-for="NoOfPersonsInHousehold" asp-items="SelectListHelper.HouseholdQuantities()">
                            <option value="" disabled="disabled">Select Persons in Household</option>
                        </select>
                        <label asp-for="NoOfPersonsInHousehold">Persons in Household</label>
                        <span asp-validation-for="NoOfPersonsInHousehold" class="font-smaller text-danger d-block"></span>
                    </div>
                    <div class="col md-form form-sm my-1">
                        <select class="mdb-select" asp-for="ContributionToLivelihood" asp-items="SelectListHelper.BusinessContributions()">
                            <option value="" disabled="disabled">Select Livelihood Contribution</option>
                        </select>
                        <label asp-for="ContributionToLivelihood">Livelihood Contribution</label>
                        <span asp-validation-for="ContributionToLivelihood" class="font-smaller text-danger d-block"></span>
                    </div>
                </div>

                <button class="btn btn-primary btn-block">Save Grant Information</button>
            </form>
        </div>
    </div>
</div>
