﻿@model ApplicantInfo
@{
    Layout = "_GuestLayout";
    bool hasGrantInfo = (bool?)ViewBag.HasGrantInfo ?? false;
}

<!-- Card -->
<div class="card testimonial-card">

    <!-- Background color -->
    @*<div class="card-up indigo lighten-3">
        </div>*@
    <div class="card-header card-up-small h4 font-weight-bold blue-grey lighten-2">Profile</div>

    <!-- Avatar -->
    <div class="avatar mx-auto white" style="height: inherit">
        <img src="/img/generic-person.png" class="rounded-circle" alt="person avatar">
    </div>

    <!-- Content -->
    <div class="card-body">
        <!-- Name -->
        @if (Model != null)
        {
            <h4 class="card-title">@Model.FullNames</h4>
        }
        <hr>

        @if (Model != null)
        {
            <div class="text-left">
                <dl class="row">
                    <dt class="col-sm-3 col-lg-2">Address</dt>
                    <dd class="col-sm-9 col-lg-10">@Model.Address</dd>

                    <dt class="col-sm-3 col-lg-2">Phone No.</dt>
                    <dd class="col-sm-9 col-lg-10">@Model.PhoneNumber</dd>

                    <dt class="col-sm-3 col-lg-2">Email</dt>
                    <dd class="col-sm-9 col-lg-10">@Model.Email</dd>

                    <dt class="col-sm-3 col-lg-2">Birth Date</dt>
                    <dd class="col-sm-9 col-lg-10">@Model.BirthDate?.ToShortDateString()</dd>
                </dl>

            </div>

            @if (Model.Usage == WBSProject.Models.DataUsage.General)
            {
                <div class="text-left">
                    <a href="@Url.Action("Profile")" class="btn btn-primary btn-sm">Edit</a>
                </div>
            }
        }
        else
        {
            <p class="text-center">
                <i class="fas fa-info-circle mr-4 h3"></i>No Profile Information
            </p>
        }
    </div>

</div>
<!-- Card -->

<div class="card">
    <h5 class="card-header h5">Business</h5>
    <div class="card-body">
        @*<h5 class="card-title">Special title treatment</h5>*@

        @if (!string.IsNullOrEmpty(Model?.BusinessName))
        {
            <div class="text-left">
                <dl class="row">
                    <dt class="col-sm-3 col-lg-2">Name</dt>
                    <dd class="col-sm-9 col-lg-10">@Model.BusinessName</dd>

                    <dt class="col-sm-3 col-lg-2">Description</dt>
                    <dd class="col-sm-9 col-lg-10">@Model.NatureOfBusiness</dd>

                    <dt class="col-sm-3 col-lg-2">Age</dt>
                    <dd class="col-sm-9 col-lg-10">@Model.AgeOfBusiness</dd>

                    <dt class="col-sm-3 col-lg-2">Status</dt>
                    <dd class="col-sm-9 col-lg-10">@Model.BusinessStatus</dd>

                    <dt class="col-sm-3 col-lg-2">Employees</dt>
                    <dd class="col-sm-9 col-lg-10">@Model.NumberOfEmployees</dd>
                </dl>

            </div>

            @if (Model.Usage == WBSProject.Models.DataUsage.General)
            {
                <a href="@Url.Action("Business")" class="btn btn-primary btn-sm text-right">Edit</a>
            }
        }
        else
        {
            <p class="text-center">
                <i class="fas fa-info-circle mr-4 h3"></i>No Business Information
            </p>
        }
    </div>
</div>

<div class="card">
    <h5 class="card-header h5">Contact</h5>
    <div class="card-body">
        @*<h5 class="card-title">Special title treatment</h5>*@

        @if (!string.IsNullOrEmpty(Model?.BusinessAddress))
        {
            <div class="text-left">
                <dl class="row">
                    <dt class="col-sm-3 col-lg-2">Business Address</dt>
                    <dd class="col-sm-9 col-lg-10">@Model.BusinessAddress</dd>

                    <dt class="col-sm-3 col-lg-2">Ward</dt>
                    <dd class="col-sm-9 col-lg-10">@Model.Ward.Name</dd>

                    <dt class="col-sm-3 col-lg-2">LGA</dt>
                    <dd class="col-sm-9 col-lg-10">@Model.LGA.Name</dd>

                    <dt class="col-sm-3 col-lg-2">State</dt>
                    <dd class="col-sm-9 col-lg-10">@Model.State.Name</dd>
                </dl>

            </div>

            @if (Model.Usage == WBSProject.Models.DataUsage.General)
            {
                <a href="@Url.Action("Contact")" class="btn btn-primary btn-sm text-right">Edit</a>
            }
        }
        else
        {
            <p class="text-center">
                <i class="fas fa-info-circle mr-4 h3"></i>No Business Contact
            </p>
        }
    </div>

    @if (!string.IsNullOrEmpty(Model?.BusinessAddress) && Model.Usage == WBSProject.Models.DataUsage.General && hasGrantInfo)
    {
        <div class="card-footer">
            <p>
                Remember that you do not have access to modify submitted application.
            </p>
            <form asp-action="Submit" asp-route-id="@Model.Id">
                <input type="submit" value="Submit Application" class="btn btn-primary btn-sm" />
            </form>
        </div>
    }
</div>
