﻿@model RegisterApplicantPersonal
@{ 
    Layout = "_GuestLayout";
} 

<div class="d-flex align-items-center justify-content-center">
    <div class="card mb-3 mx-auto">
        <div class="card-header font-weight-bold blue-grey lighten-2">Edit Profile</div>
        <div class="card-body text-primary">
            @*<h5 class="card-title">Primary Panel title</h5>
                <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>*@

            <form asp-formhelper="true" asp-action="Profile" method="post">
                <input type="hidden" asp-for="Id" />

                <div class="form-row">
                    <div class="col md-form form-sm my-1">
                        <input type="text" class="form-control" asp-for="Surname" />
                        <label asp-for="Surname">Surname</label>
                        <span asp-validation-for="Surname" class="font-smaller text-danger d-block"></span>
                    </div>
                    <div class="col md-form form-sm my-1">
                        <input type="text" class="form-control" asp-for="FirstName" />
                        <label asp-for="FirstName">First Name</label>
                        <span asp-validation-for="FirstName" class="font-smaller text-danger d-block"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col md-form form-sm my-1">
                        <input type="text" class="form-control" asp-for="OtherName" />
                        <label asp-for="OtherName">Other Name</label>
                        <span asp-validation-for="OtherName" class="font-smaller text-danger d-block"></span>
                    </div>
                    <div class="col md-form form-sm my-1">
                        <select class="mdb-select" asp-for="Gender" asp-items="SelectListHelper.Genders()">
                            <option value="" disabled="disabled">Select Gender</option>
                        </select>
                        <label asp-for="Gender">Gender</label>
                        <span asp-validation-for="Gender" class="font-smaller text-danger d-block"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col md-form form-sm my-1 input-with-post-icon datepicker">
                        <input placeholder="Select date" type="text" asp-for="BirthDate" class="form-control" readonly="readonly">
                        <label asp-for="BirthDate">Birth Date</label>
                        <span asp-validation-for="BirthDate" class="font-smaller text-danger d-block"></span>
                        <i class="fas fa-calendar input-prefix" tabindex=0></i>
                    </div>
                    <div class="col md-form form-sm my-1">
                        <input type="text" class="form-control" asp-for="PhoneNumber" />
                        <label asp-for="PhoneNumber">Phone Number</label>
                        <span asp-validation-for="PhoneNumber" class="font-smaller text-danger d-block"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 md-form form-sm my-1">
                        <input type="text" class="form-control" asp-for="Email" />
                        <label asp-for="Email">Email</label>
                        <span asp-validation-for="Email" class="font-smaller text-danger d-block"></span>
                    </div>
                </div>

                <div class="md-form form-sm py-0">
                    <textarea class="md-textarea form-control" rows="4" asp-for="Address"></textarea>
                    <label asp-for="Address">Address</label>
                    <span asp-validation-for="Address" class="font-smaller text-danger d-block"></span>
                </div>

                <button class="btn btn-primary btn-block">Save Profile</button>
            </form>
        </div>
    </div>
</div>
