﻿@model WBSProject.Areas.WBS.Models.RegistrationSummary

@{
    Layout = "_GuestLayout";
    ViewData["Title"] = "Submit";
}

<div class="card">
    <h5 class="card-header h5">Submit</h5>
    <div class="card-body">
        <h5>Are you sure you want to submit application?</h5>
        <p>
            Remember that you do not have access to modify submitted application.
        </p>

        <dl class="row">
            <dt class="col-sm-3 col-lg-2">Full Name</dt>
            <dd class="col-sm-9 col-lg-10">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-3 col-lg-2">Business Name</dt>
            <dd class="col-sm-9 col-lg-10">
                @Html.DisplayFor(model => model.BusinessName)
            </dd>
        </dl>

        <form asp-action="Submit" asp-route-id="@Model.Id">
            <input type="submit" value="Submit Application" class="btn btn-primary" /> |
            <a asp-action="Index">Back to Dashboard</a>
        </form>
    </div>
</div>
