﻿@model IEnumerable<ApplicationsReportByLGA>
@{
    var counter = 0;
}

<h2>Applications by LGA</h2>

<table class="table table-hover table-striped table-sm">
    <thead class="blue-grey lighten-2">
        <tr>
            <th class="font-weight-bold">S/N</th>
            <th class="font-weight-bold">
                @Html.DisplayNameFor(model => model.LgaName)
            </th>
            <th class="font-weight-bold text-right">
                @Html.DisplayNameFor(model => model.Males)
            </th>
            <th class="font-weight-bold text-right">
                @Html.DisplayNameFor(model => model.Females)
            </th>
            <th class="font-weight-bold text-right">
                @Html.DisplayNameFor(model => model.TotalApplications)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(++counter)</td>
                <td>
                    <a class="nav-item blue-text" href="@Url.Action("ApplicationsDetailByLGA", new { Id = item.LgaID })">
                        @Html.DisplayFor(modelItem => item.LgaName)
                    </a>
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Males)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Females)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.TotalApplications)
                </td>
            </tr>
        }
        <tr>
            <td class="font-weight-bold" colspan="2">Total</td>
            <td class="font-weight-bold text-right">
                @(Model?.Select(a => a.Males).DefaultIfEmpty(0).Sum())
            </td>
            <td class="font-weight-bold text-right">
                @(Model?.Select(a => a.Females).DefaultIfEmpty(0).Sum())
            </td>
            <td class="font-weight-bold text-right">
                @(Model?.Select(a => a.TotalApplications).DefaultIfEmpty(0).Sum())
            </td>
        </tr>
    </tbody>
</table>
