﻿@model ApplicationsReportByLGA
@{
    var counter = 0;
}

<h2>Applications by LGA (@Model.LgaName)</h2>

<table class="table table-hover table-striped table-sm">
    <thead class="blue-grey lighten-2">
        <tr>
            <th class="font-weight-bold">S/N</th>
            <th class="font-weight-bold">
                Full Names
            </th>
            <th class="font-weight-bold">
                Gender
            </th>
            <th class="font-weight-bold">
                Mobile No.
            </th>
            <th class="font-weight-bold">
               Business Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Applicants)
        {
            <tr>
                <td>@(++counter)</td>
                <td>
                    <a class="nav-item blue-text" href="@Url.Action("Status", "Admin", new { id = item.Id })">
                        @Html.DisplayFor(modelItem => item.FullNames)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessName)
                </td>
            </tr>
        }
    </tbody>
</table>
