﻿@model PagedListBase
@{
    var urlTemplate = Url.Action() + "?page={0}";
    var request = ViewContext.HttpContext.Request;
    foreach (var key in request.Query.Keys)
    {
        if (key == "page")
        {
            continue;
        }

        urlTemplate += "&" + key + "=" + request.Query[key];
    }

    var startIndex = Math.Max(Model.CurrentPage - 5, 1);
    var finishIndex = Math.Min(Model.CurrentPage + 5, Model.PageCount);
}

@*<div class="row">
    <div class="col-md-8 col-sm-8 items-info">
        Items @Model.FirstRowOnPage to @Model.LastRowOnPage of @Model.RowCount total
    </div>
</div>*@
<div class="row">
    <div class="col-md-8 col-sm-8">
        <nav aria-label="Page Navigation">
            <ul class="pagination pg-blue pull-right my-0">
                @if (Model.CurrentPage > 1)
                {
                    <li class="page-item"><a class="page-link" href="@urlTemplate.Replace("{0}", "1")">First</a></li>
                    <li class="page-item"><a class="page-link" href="@urlTemplate.Replace("{0}", "1")">&laquo;</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link">First</a></li>
                    <li class="page-item"><a class="page-link">&laquo;</a></li>
                }
                @*<li><a href="@urlTemplate.Replace("{0}", "1")">&laquo;</a></li>*@

                @for (var i = startIndex; i <= finishIndex; i++)
                {
                    @if (i == Model.CurrentPage)
                    {

                        <li class="page-item active"><a class="page-link">@i</a></li>
                    }
                    else
                    {

                        <li class="page-item"><a class="page-link" href="@urlTemplate.Replace("{0}", i.ToString())">@i</a></li>
                    }
                }

                @*<li><a href="@urlTemplate.Replace("{0}", Model.PageCount.ToString())">&raquo;</a></li>*@
                @if (Model.CurrentPage < Model.PageCount)
                {
                    <li class="page-item"><a class="page-link" href="@urlTemplate.Replace("{0}", Model.PageCount.ToString())">&raquo;</a></li>
                    <li class="page-item"><a class="page-link" href="@urlTemplate.Replace("{0}", Model.PageCount.ToString())">Last</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link">&raquo;</a></li>
                    <li class="page-item"><a class="page-link">Last</a></li>
                }
            </ul>
        </nav>
    </div>
</div>