﻿@model IPagedList<WBSProject.Models.EF.ApplicantInfo>

@{
    ViewData["Title"] = "Applications";
}

<div class="card">
    <div class="card-header">
        <div class="row">
           <div class="col-12 col-sm-5 pt-2">
                Applications
            </div>
            <div class="col-12 col-sm-4">
                <form asp-action="Applications">
                    <div class="md-form input-with-post-icon m-0">
                        <i class="fas fa-search input-prefix"></i>
                        <input type="text" id="Search" name="Search" value="@ViewBag.Search" class="form-control form-sm m-0">
                        <label for="Search">Search</label>
                    </div>
                </form>
            </div>
          
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover table-striped table-sm">
            <thead class="blue-grey lighten-2">
                <tr>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.FullNames)
                    </th>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.BusinessName)
                    </th>
                    @*<th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.RCNumber)
                    </th>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.LGAId)
                    </th>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.WardId)
                    </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullNames)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BusinessName)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.RCNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LGA.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ward.Name)
                        </td>*@
                        <td>
                            <!-- Task dropdown -->
                            <button class="btn btn-primary btn-sm dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Task
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item font-small" asp-action="CaptureBiometrics" asp-route-id="@item.Id">Capture Biometrics</a>
                                <a class="dropdown-item font-small" asp-action="CaptureDocuments" asp-route-id="@item.Id">Capture Documents</a>
                                <div class="dropdown-divider m-1"></div>
                                <a class="dropdown-item font-small" asp-action="Status" asp-route-id="@item.Id">View Status</a>
                            </div>
                            <!-- Task dropdown -->
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer py-1">
        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    </div>
</div>

