﻿@model CaptureBiometrics
@inject ClickOnceHelper clickOnce
@{
}

<form asp-formhelper="true" asp-action="CaptureBiometrics" method="post">
    <input type="hidden" asp-for="Session" />
    <input type="hidden" asp-for="ApplicantId" />
    <input type="hidden" asp-for="FullNames" />

    <div class="d-flex align-items-center justify-content-center">
        <div class="card" id="biometric1" role="tabpanel" aria-labelledby="biometric">
            <div class="card-header"></div>
            <div class="card-body">
                <div class="row gutters justify-content-center">
                    <div class="avatar xxl">
                        <img id="__PHT" class="img-fluid mx-auto d-block img-thumbnail img-md z-depth-1" src="@(Model?.Photo)" />
                        <input type="hidden" asp-for="Photo" />
                    </div>
                </div>
                <div class="row gutters justify-content-center">
                    <a class="btn btn-primary btn-sm btn-block" href="@clickOnce.PrepareCaptureAppUrl(Model.Session, 1)">Launch Camera</a>
                </div>

                <div class="row gutters justify-content-center">

                    <div class="col-md-3">
                        <div class="avatar xxl">
                            <img id="__RTI" class="img-fluid mx-auto d-block img-thumbnail img-md z-depth-1" src="@(Model?.RightThumbImage)" />
                            <input type="hidden" asp-for="RightThumbImage" />
                            <input type="hidden" asp-for="RightThumbMinutia" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="avatar xxl">
                            <img id="__RII" class="img-fluid mx-auto d-block img-thumbnail img-md z-depth-1" src="@(Model?.RightIndexImage)" />
                            <input type="hidden" asp-for="RightIndexImage" />
                            <input type="hidden" asp-for="RightIndexMinutia" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="avatar xxl">
                            <img id="__LTI" class="img-fluid mx-auto d-block img-thumbnail img-md z-depth-1" src="@(Model?.LeftThumbImage)" />
                            <input type="hidden" asp-for="LeftThumbImage" />
                            <input type="hidden" asp-for="LeftThumbMinutia" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="avatar xxl">
                            <img id="__LII" class="img-fluid mx-auto d-block img-thumbnail img-md z-depth-1" src="@(Model?.LeftIndexImage)" />
                            <input type="hidden" asp-for="LeftIndexImage" />
                            <input type="hidden" asp-for="LeftIndexMinutia" />
                        </div>
                    </div>
                </div>
                <div class="row gutters justify-content-center">
                    <a class="btn btn-primary btn-sm btn-block" href="@clickOnce.PrepareCaptureAppUrl(Model.Session, 2)">Capture Fingerprints</a>
                </div>

            </div>
            <div class="card-footer text-right">
                <button type="submit" name="submit" class="btn btn-primary btn-sm">Save Biometrics</button>
            </div>
        </div>
    </div>
</form>

<partial name="_CaptureMedia" />

@section Scripts
{
    <partial name="_CaptureNotify" />
}
