﻿@model CaptureDocuments
@inject ClickOnceHelper clickOnce
@{
}

<form asp-formhelper="true" asp-action="CaptureDocuments" method="post">
    <p>
        <a class="btn btn-secondary btn-sm" href="@clickOnce.PrepareCaptureAppUrl(Model.Session, 4)">Launch Scanner</a>
        <button class="btn btn-primary btn-sm">Save Documents</button>
    </p>

    <input type="hidden" asp-for="Session" />
    <input type="hidden" asp-for="ApplicantId" />
    <input type="hidden" asp-for="FullNames" />
    <input type="hidden" asp-for="BusinessName" />
    <input type="hidden" asp-for="Documents" />

    @if (string.IsNullOrEmpty(Model?.Documents))
    {
        <div class="embed-responsive embed-responsive-16by9 mb-3 z-depth-1">
            <iframe id="pdfDocs" class="w-100" srcdoc="<h3>No Documents Captured</h3>"></iframe>
        </div>
    }
    else
    {
        <div class="embed-responsive embed-responsive-16by9 mb-3 z-depth-1">
            <iframe id="pdfDocs" class="w-100" src="@Model.Documents"></iframe>
        </div>
    }
</form>

<partial name="_CaptureMedia" />

@section Scripts
{
    <partial name="_CaptureNotify" />
}
