﻿@model ApplicantInfo

<h3>Are you sure you want to delete this? This action cannot be undone.</h3>

<div class="d-flex align-items-center justify-content-center">
    <div class="card mb-3 mx-auto">
        <div class="card-header font-weight-bold red darken-3 text-white">Delete Application</div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FullNames)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FullNames)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BusinessName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BusinessName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.WardId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Ward.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LGAId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LGA.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StateId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.State.Name)
                </dd>
            </dl>

            <form asp-action="DeleteApplication">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a class="btn btn-secondary" asp-action="Status" asp-route-id="@Model.Id">Back to Status</a>
            </form>
        </div>
    </div>
</div>

