﻿@model RegisterApplicantBusiness
@{
}

<div class="d-flex align-items-center justify-content-center">
    <div class="card mb-3 mx-auto">
        <div class="card-header font-weight-bold blue-grey lighten-2">Edit Business</div>
        <div class="card-body text-primary">
            <form asp-formhelper="true" asp-action="EditBusiness" method="post">
                <input type="hidden" asp-for="Id" />

                <div class="md-form form-sm py-0">
                    <input type="text" class="form-control" asp-for="BusinessName" />
                    <label asp-for="BusinessName">Name</label>
                    <span asp-validation-for="BusinessName" class="font-smaller text-danger d-block"></span>
                </div>
                <div class="md-form form-sm py-0">
                    <textarea class="md-textarea form-control" rows="4" asp-for="NatureOfBusiness"></textarea>
                    <label asp-for="NatureOfBusiness">Nature of Business</label>
                    <span asp-validation-for="NatureOfBusiness" class="font-smaller text-danger d-block"></span>
                </div>
                <div class="form-row">
                    <div class="col md-form form-sm my-1">
                        <select class="mdb-select" asp-for="AgeOfBusiness" asp-items="SelectListHelper.BusinessAges()">
                            <option value="" disabled="disabled">Age of Business</option>
                        </select>
                        <label asp-for="AgeOfBusiness">Age of Business</label>
                        <span asp-validation-for="AgeOfBusiness" class="font-smaller text-danger d-block"></span>
                    </div>
                    <div class="col md-form form-sm my-1">
                        <select class="mdb-select" asp-for="NumberOfEmployees" asp-items="SelectListHelper.EmployeeNumbers()">
                            <option value="" disabled="disabled">No. of Employees</option>
                        </select>
                        <label asp-for="NumberOfEmployees">No. of Employees</label>
                        <span asp-validation-for="NumberOfEmployees" class="font-smaller text-danger d-block"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col md-form form-sm my-1">
                        <select class="mdb-select" asp-for="BusinessStatus" asp-items="SelectListHelper.BusinessStatuses()">
                            <option value="" disabled="disabled">Business Registration Status</option>
                        </select>
                        <label asp-for="BusinessStatus">Business Status</label>
                        <span asp-validation-for="BusinessStatus" class="font-smaller text-danger d-block"></span>
                    </div>
                    <div id="rc-number-div" class="col md-form form-sm my-1 d-none">
                        <input type="text" class="form-control" asp-for="RCNumber" />
                        <label asp-for="RCNumber">RC Number</label>
                        <span asp-validation-for="RCNumber" class="font-smaller text-danger d-block"></span>
                    </div>
                </div>

                <button class="btn btn-primary btn-block">Save Business</button>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('#@(nameof(Model.BusinessStatus))').change(function () {
            $('#rc-number-div').toggleClass("d-none");
            //var value = $(this).val();
        });
    </script>
}