@model IPagedList<WBSProject.Models.EF.ApplicantInfo>


@{ 
    ViewData["Title"] = "Applications";
}




<div class="card">
    <div class="card-header">
        <div class="row">
            <div id="filter-panel" class="collapse filter-panel">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form asp-action="FilterApplication" class="form-inline" role="form">

                            <div class="form-group ml-3">
                                <label class="filter-col" style="margin-right:0;" for="pref-search">Search:</label>
                                <input type="text" class="form-control input-sm" value="@ViewBag.search" id="search" name="search" placeholder="Search Business Name, PhoneNumber, Address">
                            </div>
                            <div class="form-group ml-3">
                                <label class="filter-col" style="margin-right:0;" for="pref-perpage">Filter by L.G.A:&nbsp;</label>
                                <select id="lgaId" name="lgaId" class="form-control" asp-items="@(new SelectList(@ViewBag.lgas,"Id", "Name", ViewBag.lgaId))"></select>
                            </div>
                            <div class="form-group ml-3">
                                <label class="filter-col" style="margin-right:0;" for="pref-orderby">Gender:&nbsp;</label>
                                <select id="gender" name="gender" asp-items="@(new SelectList(@ViewBag.genders, "Value", "DisplayName", ViewBag.gender))"  class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default filter-col">Filter</button> 
                            </div>
                            <div class="form-group">
                                
                              <button type="submit" asp-route-download="true" class="btn btn-default filter-col">Download Excel</button>
                              
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filter-panel">
                <span class="glyphicon glyphicon-cog"></span> Advanced Search
            </button>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover table-striped table-sm">
            <thead class="blue-grey lighten-2">
                <tr>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.FullNames)
                    </th>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.BusinessName)
                    </th>
                    @*<th class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.RCNumber)
                        </th>
                        <th class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.LGAId)
                        </th>
                        <th class="font-weight-bold">
                            @Html.DisplayNameFor(model => model.WardId)
                        </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullNames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessName)
        </td>
        @*<td>
                @Html.DisplayFor(modelItem => item.RCNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LGA.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ward.Name)
            </td>*@
        <td>
            <!-- Task dropdown -->
            <button class="btn btn-primary btn-sm dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Task
            </button>

            <div class="dropdown-menu">
                <a class="dropdown-item font-small" asp-action="CaptureBiometrics" asp-route-id="@item.Id">Capture Biometrics</a>
                <a class="dropdown-item font-small" asp-action="CaptureDocuments" asp-route-id="@item.Id">Capture Documents</a>
                <div class="dropdown-divider m-1"></div>
                <a class="dropdown-item font-small" asp-action="form" asp-controller="questions" asp-route-applicantId="@item.Id">Questionier</a>
                <a class="dropdown-item font-small" asp-action="Status" asp-route-id="@item.Id">View Status</a>
            </div>
            <!-- Task dropdown -->
        </td>
    </tr>}
            </tbody>
        </table>
    </div>
    <div class="card-footer py-1">
        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    </div>
</div>
