﻿@model ApplicationStatus
@{
    ViewData["Title"] = "Status";
    var businessStatus = Model.Applicant.BusinessStatus == "Registered" ?
        $"{Model.Applicant.BusinessStatus} ({Model.Applicant.RCNumber})" : Model.Applicant.BusinessStatus;
}

<span class="h2 d-block mb-3 text-center">Applicant Status</span>

<div class="card mx-4 mb-2">
    <div class="card-body px-0 pb-1">
        <h5 class="card-title">
            <span class="ml-0 ml-sm-n4 py-2 pr-3 cyan lighten-4 z-depth-1">
                <i class="fas fa-user p-2 mr-2 grey lighten-1"></i>Profile
            </span>
        </h5>

        <div class="row p-3 px-4">
            @if (Model.Biometric != null)
            {
                <div class="col-12 col-sm-4 col-lg-3 text-center">
                    <img class="img-fluid z-depth-1 mb-3" src="@Model.Biometric.Photo.ToJpegWebImage()" alt="photograph" />
                </div>
            }
            <div class="col-12 col-sm-8 col-lg-9">
                <dl class="row">
                    <dt class="col-md-4 col-lg-2 primary-color white-text p-1 pl-3 mb-1">Full Name</dt>
                    <dd class="col-md-8 col-lg-10 p-1 pl-3 font-weight-bold">@Model.Applicant.FullNames</dd>

                    <dt class="col-md-4 col-lg-2 primary-color white-text p-1 pl-3 mb-1">Gender</dt>
                    <dd class="col-md-8 col-lg-10 p-1 pl-3 mb-1">@Model.Applicant.Gender</dd>

                    <dt class="col-md-4 col-lg-2 primary-color white-text p-1 pl-3 mb-1">Birth Date</dt>
                    <dd class="col-md-8 col-lg-10 p-1 pl-3 mb-1">@Model.Applicant.BirthDate?.ToShortDateString()</dd>

                    <dt class="col-md-4 col-lg-2 primary-color white-text p-1 pl-3 mb-1">Address</dt>
                    <dd class="col-md-8 col-lg-10 p-1 pl-3 mb-1">@Model.Applicant.Address</dd>

                    <dt class="col-md-4 col-lg-2 primary-color white-text p-1 pl-3 mb-1">Phone No.</dt>
                    <dd class="col-md-8 col-lg-10 p-1 pl-3 mb-1">@Model.Applicant.PhoneNumber</dd>

                    <dt class="col-md-4 col-lg-2 primary-color white-text p-1 pl-3 mb-1">Email</dt>
                    <dd class="col-md-8 col-lg-10 p-1 pl-3 mb-1">@Model.Applicant.Email</dd>
                </dl>
            </div>
            @if (Model.Biometric != null)
            {
                <div class="col-12 mx-auto">
                    <div class="row gutters justify-content-center">

                        <div class="col-md-3">
                            <div class="avatar xxl">
                                <img class="img-fluid mx-auto d-block img-thumbnail img-md z-depth-1"
                                     src="@Model.Biometric.RightThumbImage.ToJpegWebImage()" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="avatar xxl">
                                <img class="img-fluid mx-auto d-block img-thumbnail img-md z-depth-1"
                                     src="@Model.Biometric.RightIndexImage.ToJpegWebImage()" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="avatar xxl">
                                <img class="img-fluid mx-auto d-block img-thumbnail img-md z-depth-1"
                                     src="@Model.Biometric.LeftThumbImage.ToJpegWebImage()" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="avatar xxl">
                                <img class="img-fluid mx-auto d-block img-thumbnail img-md z-depth-1"
                                     src="@Model.Biometric.LeftIndexImage.ToJpegWebImage()" />
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
        <a class="btn-floating btn-secondary" asp-action="EditProfile" asp-route-id="@Model.Applicant.Id"><i class="fas fa-edit"></i></a>
    </div>
</div>

<div class="card mx-4 mb-2">
    <div class="card-body px-0 pb-1">
        <h5 class="card-title">
            <span class="ml-0 ml-sm-n4 py-2 pr-3 cyan lighten-4 z-depth-1">
                <i class="fas fa-briefcase p-2 mr-2 grey lighten-1"></i>Business
            </span>
        </h5>

        <div class="row p-3 px-4">
            <div class="col-12">
                <dl class="row">
                    <dt class="col-md-4 col-lg-3 primary-color white-text p-1 pl-3 mb-1">Name</dt>
                    <dd class="col-md-8 col-lg-9 p-1 pl-3 font-weight-bold">@Model.Applicant.BusinessName</dd>

                    <dt class="col-md-4 col-lg-3 primary-color white-text p-1 pl-3 mb-1">Address</dt>
                    <dd class="col-md-8 col-lg-9 p-1 pl-3 mb-1">@Model.Applicant.BusinessAddress</dd>

                    <dt class="col-md-4 col-lg-3 primary-color white-text p-1 pl-3 mb-1">Description</dt>
                    <dd class="col-md-8 col-lg-9 p-1 pl-3 mb-1">@Model.Applicant.NatureOfBusiness</dd>

                    <dt class="col-md-4 col-lg-3 primary-color white-text p-1 pl-3 mb-1">Status</dt>
                    <dd class="col-md-8 col-lg-9 p-1 pl-3 mb-1">@businessStatus</dd>

                    <dt class="col-md-4 col-lg-3 primary-color white-text p-1 pl-3 mb-1">Age</dt>
                    <dd class="col-md-8 col-lg-9 p-1 pl-3 mb-1">@Model.Applicant.AgeOfBusiness</dd>

                    <dt class="col-md-4 col-lg-3 primary-color white-text p-1 pl-3 mb-1">Employees</dt>
                    <dd class="col-md-8 col-lg-9 p-1 pl-3 mb-1">@Model.Applicant.NumberOfEmployees</dd>
                </dl>
            </div>
        </div>
        <a class="btn-floating btn-secondary" asp-action="EditBusiness" asp-route-id="@Model.Applicant.Id"><i class="fas fa-edit"></i></a>
    </div>
</div>

@if (Model.Grant != null)
{
    <div class="card mx-4 mb-2">
        <div class="card-body px-0 pb-1">
            <h5 class="card-title">
                <span class="ml-0 ml-sm-n4 py-2 pr-3 cyan lighten-4 z-depth-1">
                    <i class="fas fa-coins p-2 mr-2 grey lighten-1"></i>Grant
                </span>
            </h5>

            <div class="row p-3 px-4">
                <div class="col-12">
                    <dl class="row">
                        <dt class="col-md-4 col-lg-3 primary-color white-text p-1 pl-3 mb-1">DLI</dt>
                        <dd class="col-md-8 col-lg-9 p-1 pl-3 font-weight-bold">@Model.Grant.DLI</dd>

                        <dt class="col-md-4 col-lg-3 primary-color white-text p-1 pl-3 mb-1">Gender (Owner)</dt>
                        <dd class="col-md-8 col-lg-9 p-1 pl-3 mb-1">@Model.Grant.OwnersGender</dd>

                        @if (Model.Grant.HaveRecordKeeping)
                        {
                            <dt class="col-md-4 col-lg-3 primary-color white-text p-1 pl-3 mb-1">Book Keeping</dt>
                            <dd class="col-md-8 col-lg-9 p-1 pl-3 mb-1">@Model.Grant.DescribeRecordKeeping</dd>
                        }

                        <dt class="col-md-4 col-lg-3 primary-color white-text p-1 pl-3 mb-1">Customer Distance</dt>
                        <dd class="col-md-8 col-lg-9 p-1 pl-3 mb-1">@Model.Grant.DistanceFromCustomers</dd>

                        <dt class="col-md-4 col-lg-3 primary-color white-text p-1 pl-3 mb-1">Contribution</dt>
                        <dd class="col-md-8 col-lg-9 p-1 pl-3 mb-1">@Model.Grant.ContributionToLivelihood</dd>

                        <dt class="col-md-4 col-lg-3 primary-color white-text p-1 pl-3 mb-1">Cash (Bank)</dt>
                        <dd class="col-md-8 col-lg-9 p-1 pl-3 mb-1">@Model.Grant.CashInBank</dd>

                        <dt class="col-md-4 col-lg-3 primary-color white-text p-1 pl-3 mb-1">Net. (Goods)</dt>
                        <dd class="col-md-8 col-lg-9 p-1 pl-3 mb-1">@Model.Grant.NetWorthOfGoods</dd>
                    </dl>
                </div>
            </div>
            <a class="btn-floating btn-secondary" asp-action="EditGrant" asp-route-id="@Model.Grant.Id"><i class="fas fa-edit"></i></a>
        </div>
    </div>

    <div class="card mx-4 mb-2">
        <div class="card-body px-0 pb-1">
            <h5 class="card-title">
                <span class="ml-0 ml-sm-n4 py-2 pr-3 cyan lighten-4 z-depth-1">
                    <i class="fas fa-list p-2 mr-2 grey lighten-1"></i>Miscellaneous
                </span>
            </h5>

            <div class="row p-3 px-4">
                <div class="col-12">
                    <dl class="row">
                        <dt class="col-10 col-md-4 primary-color white-text p-1 pl-3 mb-1">Have Smart Phone</dt>
                        <dd class="col-2 p-1 pl-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" @(Model.Grant.OwnSmartPhone ? "checked" : "") disabled>
                                <label class="custom-control-label"></label>
                            </div>
                        </dd>
                        <dt class="col-10 col-md-4 primary-color white-text p-1 pl-3 mb-1">Have Network</dt>
                        <dd class="col-2 p-1 pl-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" @(Model.Grant.HaveNetwork ? "checked" : "") disabled>
                                <label class="custom-control-label"></label>
                            </div>
                        </dd>
                        <dt class="col-10 col-md-4 primary-color white-text p-1 pl-3 mb-1">Have Internet</dt>
                        <dd class="col-2 p-1 pl-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" @(Model.Grant.HaveInternet ? "checked" : "") disabled>
                                <label class="custom-control-label"></label>
                            </div>
                        </dd>
                        <dt class="col-10 col-md-4 primary-color white-text p-1 pl-3 mb-1">Have Electricity</dt>
                        <dd class="col-2 p-1 pl-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" @(Model.Grant.HaveElectricity ? "checked" : "") disabled>
                                <label class="custom-control-label"></label>
                            </div>
                        </dd>
                        <dt class="col-10 col-md-4 primary-color white-text p-1 pl-3 mb-1">Have Water</dt>
                        <dd class="col-2 p-1 pl-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" @(Model.Grant.HaveWater ? "checked" : "") disabled>
                                <label class="custom-control-label"></label>
                            </div>
                        </dd>
                        <dt class="col-10 col-md-4 primary-color white-text p-1 pl-3 mb-1">Have Medicare</dt>
                        <dd class="col-2 p-1 pl-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" @(Model.Grant.HaveMedicalCare ? "checked" : "") disabled>
                                <label class="custom-control-label"></label>
                            </div>
                        </dd>
                        <dt class="col-10 col-md-4 primary-color white-text p-1 pl-3 mb-1">Have Road</dt>
                        <dd class="col-2 p-1 pl-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" @(Model.Grant.HaveRoad ? "checked" : "") disabled>
                                <label class="custom-control-label"></label>
                            </div>
                        </dd>
                        <dt class="col-10 col-md-4 primary-color white-text p-1 pl-3 mb-1">Have Facebook</dt>
                        <dd class="col-2 p-1 pl-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" @(Model.Grant.HaveFacebook ? "checked" : "") disabled>
                                <label class="custom-control-label"></label>
                            </div>
                        </dd>
                        <dt class="col-10 col-md-4 primary-color white-text p-1 pl-3 mb-1">Have WhatsApp</dt>
                        <dd class="col-2 p-1 pl-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" @(Model.Grant.HaveWhatsApp ? "checked" : "") disabled>
                                <label class="custom-control-label"></label>
                            </div>
                        </dd>
                        <dt class="col-10 col-md-4 primary-color white-text p-1 pl-3 mb-1">Have Twitter</dt>
                        <dd class="col-2 p-1 pl-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" @(Model.Grant.HaveTwitter ? "checked" : "") disabled>
                                <label class="custom-control-label"></label>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
            <a class="btn-floating btn-secondary" asp-action="EditGrant" asp-route-id="@Model.Grant.Id"><i class="fas fa-edit"></i></a>
        </div>
    </div>
}

<div class="card mx-4 mb-2">
    <div class="card-body px-0 pb-1">
        <h5 class="card-title">
            <span class="ml-0 ml-sm-n4 py-2 pr-3 cyan lighten-4 z-depth-1">
                <i class="fas fa-box p-2 mr-2 grey lighten-1"></i>Application
            </span>
        </h5>

        <div class="row p-3 px-4">
            <div class="col-12">
                <p>
                    If application is invalid and needs to be deleted, use the button below. Remember, this action cannot be undone.
                </p>
            </div>
        </div>
        <a class="btn-floating btn-danger" asp-action="DeleteApplication" asp-route-id="@Model.Applicant.Id">
            <i class="fas fa-trash"></i>
        </a>
    </div>
</div>
