﻿@page
@model WBSProject.Areas.Identity.Pages.Account.ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend Email Confirmation";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <h5>Please enter your email address to receive confirmation link.</h5>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Send Confirmation</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
